

.gridpane {
    -fx-background-color: white;
    -fx-vgap: 0;
    -fx-hgap: 0;
    -fx-padding: 0;
       -fx-border-width: 5 ;
       -fx-border-color: black;
}

.hbox {
 
        -fx-border-color: black;
    -fx-border-width: 0 3 0 0 ;
}

.hbox1 {

        -fx-border-color: black;
    -fx-border-width: 0 0 3 0;

}

.hbox2 {

        -fx-border-color: black;
    -fx-border-width: 0 3 3 0;

}